services:
  tp-link-watch:
    image: tp-link-watch
    container_name: tp-link-watch
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
